[submodule "common/lsdiff-backend"]
	path = common/lsdiff-backend
	url = https://github.com/wangcheng714/fis-localstorage-php-backend.git
[submodule "common/lsdiff-plugin"]
	path = common/lsdiff-plugin
	url = https://github.com/wangcheng714/fis-plus-lsidff-plugin.git
